@{
}


<div class="detail-container">
    <div id="detail-img">
        <img src="@Model.ImgUrl" alt="">
    </div>

    <div id="detail-body">
        <h3>Name: @Model.Name</h3>
        <h6>Incharge: @Model.Incharge</h6>
        <h6>Address: @Model.Address</h6>
        <h6>Established: @Model.Established</h6>
        <h6>Area: @Model.Area</h6>
        <h6>Head: @Model.Head</h6>
    </div>
</div>
